<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add New Application</title>
</head>
<body>
    <form action="/submit-applications" method="POST">

    <label for="position">Position:</label>
    <input type="text" id = "position" name="position"><br><br>


    <label for="company">Company:</label>
    <input type="text" id = "company" name="company"><br><br>

    <label for="contact">Contact:</label>
    <input type="text" id = "contact" name="contact"><br><br>

    <label for="salary">Salary:</label>
    <input type="number" id = "salary" name="salary"><br><br>

    <label for="date_applied">Date Applied:</label>
    <input type="date" id = "date_applied" name="date_applied"><br><br>
    
    <label for="location">Location:</label>
    <input type="text" id = "location" name="location"><br><br>

    <label for="last_updated">Last updated:</label>
    <input type="date" id = "last_updated" name="last_updated"><br><br>


    <label for="status">Status:</label>
    <input type="text" id = "status" name="status"><br><br>

    <label for="interview_datetime">Interview date and time:</label>
    <input type="datetime-local" id = "interview_datetime" name="interview_datetime"><br><br>

    <label for="interview_location">Interview location:</label>
    <input type="text" id = "interview_location" name="interview_location"><br><br>


    <button type="submit">Add Application</button>

    </form>
</body>
</html>