<!DOCTYPE html>
<html>
<head>
    <title>My Applications</title>
</head>
<body>
    <h1>Job Applications</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>position</th>
                <th>company</th>
                <th>contact</th>
                <th>salary</th>
                <th>date_applied</th>
                <th>location</th>
                <th>last_updated</th>
                <th>status</th>
                <th>interview_datetime</th>
                <th>interview_location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for app in applications %}
            <tr>
                <td>{{ app[0] }}</td>
                <td>{{ app[1] }}</td>
                <td>{{ app[2] }}</td>
                <td>{{ app[3] }}</td>
                <td>{{ app[4] }}</td>
                <td>{{ app[5] }}</td>
                <td>{{ app[6] }}</td>
                <td>{{ app[7] }}</td>
                <td>{{ app[8] }}</td>
                <td>{{ app[9] }}</td>
                <td>{{ app[10] }}</td>
                <td>
                    <a href="/edit-application/{{app[0]}}">Edit</a>
                    <a href="/delete-application/{{app[0]}}">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>